
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<div id="productlist-content">

    @Html.Action("GenresMenu");


    <div id="productlist-rightsection">
        <div id="breadcrumb-section">
            <img src="@Url.Content("~/Content/Images/home-small.png")" />
        </div>

        @Html.Partial("_ProductList")

    </div>

</div>
